<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>New Contact</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Contact Manager</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Home page</a></li>
            <li><a href="new">New Contact</a></li>
            <li><a href="#">Update Contact</a></li>
            <li><a href="#">Create Account</a></li>
        </ul>
    </div>
</nav>
<div class="wrapper">
    {$contents}
</div>
</body>
</html>